[Unit]
Description=Dante socks5 proxy server
After=syslog.target network.target

[Service]
User=root
ExecStart=/usr/sbin/sockd -f /etc/dante/danted.conf
Restart=on-failure
RestartSec=15

[Install]
WantedBy=multi-user.target
